In [9]:
import pandas as pd
client_dictionary = {'name': ['Michael Smith', 'Ana Kors', 'Sean Bill', 'Carl Jonson','Bob Evan'],
 'grade': [['A', 'A'], ['C'], ['A', 'C', 'B'], [], ['F']],
 'age': ['19', '19', '17', '18', '-'],
 'group': ['class 1', 'class 2', 'class 2', 'class 1', 'class 2'],
 'suspended': ['True', 'False','True', 'False', 'True']}
df = pd.DataFrame(client_dictionary)
df

            name      grade age    group suspended
0  Michael Smith     [A, A]  19  class 1      True
1       Ana Kors        [C]  19  class 2     False
2      Sean Bill  [A, C, B]  17  class 2      True
3    Carl Jonson         []  18  class 1     False
4       Bob Evan        [F]   -  class 2      True

# 1.upper()

In [10]:
df.name.str.upper()

0    MICHAEL SMITH
1         ANA KORS
2        SEAN BILL
3      CARL JONSON
4         BOB EVAN
Name: name, dtype: object

# 2. lower()

In [11]:
df.name.str.lower()

0    michael smith
1         ana kors
2        sean bill
3      carl jonson
4         bob evan
Name: name, dtype: object

# 3. isupper()

In [12]:
df.name.str.isupper()

0    False
1    False
2    False
3    False
4    False
Name: name, dtype: bool

In [13]:
df.name.str.upper().str.isupper()

0    True
1    True
2    True
3    True
4    True
Name: name, dtype: bool

In [14]:
df.name.str.islower()

0    False
1    False
2    False
3    False
4    False
Name: name, dtype: bool

# 5. isnumeric()

In [15]:
df.age.str.isnumeric()

0     True
1     True
2     True
3     True
4    False
Name: age, dtype: bool

# 6. replace()

In [16]:
df.group.str.replace('class ', '')

0    1
1    2
2    2
3    1
4    2
Name: group, dtype: object

In [17]:
df.group.str.replace(r'[a-z]+ ', '')

C:\Users\GPTBGK\AppData\Local\Temp\ipykernel_5612\917162232.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.group.str.replace(r'[a-z]+ ', '')

0    1
1    2
2    2
3    1
4    2
Name: group, dtype: object

# 7. split()

In [18]:
df.name.str.split()

0    [Michael, Smith]
1         [Ana, Kors]
2        [Sean, Bill]
3      [Carl, Jonson]
4         [Bob, Evan]
Name: name, dtype: object

In [19]:
df.name.str.split('a')

0    [Mich, el Smith]
1         [An,  Kors]
2        [Se, n Bill]
3      [C, rl Jonson]
4         [Bob Ev, n]
Name: name, dtype: object

# 8. contains()

In [20]:
df.group.str.contains('1')

0     True
1    False
2    False
3     True
4    False
Name: group, dtype: bool

In [21]:
df.group.str.contains(r'[0-9]')

0    True
1    True
2    True
3    True
4    True
Name: group, dtype: bool

# 9. find()

In [22]:
df.name.str.find('s')

0   -1
1    7
2   -1
3    8
4   -1
Name: name, dtype: int64

# 10. findall()

In [23]:
df.name.str.findall('an')

0      []
1      []
2    [an]
3      []
4    [an]
Name: name, dtype: object

In [24]:
import re
df.name.str.findall('an', flags=re.IGNORECASE)

0      []
1    [An]
2    [an]
3      []
4    [an]
Name: name, dtype: object

In [25]:
import datetime
from datetime import datetime
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm")
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:")
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2022-11-25 17:13:49.869671

A date without time:
2012-05-22

Current date:
2022-11-25

Time from a datetime:
18:12:00

Current local time:
17:13:49.870669

# Write a python program to create a)a specific date using timestamp. b) date and time using timestamp.c) a time adds in the current local date using timestamp.d) current date and time using timestamp.**

In [26]:
import pandas as pd
#from datetime import datetime
print("\nA specific date using timestamp:")
print(pd.Timestamp('2016-11-10'))
print("\nDate and time using timestamp:")
print(pd.Timestamp('2012-05-03 11:30'))
print("\nA time adds in the current local date using timestamp:")
print(pd.Timestamp('11:30'))
print("\nCurrent date and time using timestamp:")
print(pd.Timestamp("now"))

A specific date using timestamp:
2016-11-10 00:00:00

Date and time using timestamp:
2012-05-03 11:30:00

A time adds in the current local date using timestamp:
2022-11-25 11:30:00

Current date and time using timestamp:
2022-11-25 17:15:01.163510

# Write a python program to create a date from a given year, month, day and another date from a given string formats.

In [27]:
from datetime import datetime
date1 = datetime(year=2020, month=12, day=25)
print("Date from a given year, month, day:")
print(date1)
from dateutil import parser
date2 = parser.parse("1st of January, 2021")
print("\nDate from a given string formats:")
print(date2)

Date from a given year, month, day:
2020-12-25 00:00:00

Date from a given string formats:
2021-01-01 00:00:00

# Write a Python program to print the day after and before a specified date. Also print the days between two given dates.

In [28]:
import pandas as pd
import datetime
from datetime import datetime, date
today = datetime(2012, 10, 30)
print("Current date:", today)
tomorrow = today + pd.Timedelta(days=1)
print("Tomorrow:", tomorrow)
yesterday = today - pd.Timedelta(days=1)
print("Yesterday:", yesterday)
date1 = datetime(2016, 8, 2)
date2 = datetime(2016, 7, 19)
print("\nDifference between two dates: ",(date1 - date2))

Current date: 2012-10-30 00:00:00
Tomorrow: 2012-10-31 00:00:00
Yesterday: 2012-10-29 00:00:00

Difference between two dates:  14 days, 0:00:00